body {
    margin: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #151515, #101010);
}

header {
    height: 55px;
    width: 100vw;
    border-bottom: 1px solid #252525;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

.header_left {
    height: 100%;
    width: fit-content;
    display: flex;
    gap: 5px;
}

.icon.logo {
    aspect-ratio: 1/1;
    height: 100%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon/logo.svg);
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    user-select: none;
}

nav.sidebar {
    height: calc(100vh - 55px);
    width: 300px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid #252525;
    transition: transform 0.2s;
}

.page_list {
    width: 100%;
    height: fit-content;
}

.page_button {
    width: calc(100% - 20px);
    margin: 10px;
    margin-bottom: 0;
    height: 50px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.page_button:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

.page_button .icon {
    aspect-ratio: 1/1;
    height: 100%;
    flex: 0 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.icon.home {
    background-size: 65%;
    background-image: url(icon/home.svg);
}

.icon.news {
    background-size: 70%;
    background-image: url(icon/news.svg);
}

.icon.tracker {
    background-size: 60%;
    background-image: url(icon/graph.svg);
}

.page_button span {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.content {
    width: calc(100vw - 300px);
    height: calc(100vh - 55px);
    position: fixed;
    right: 0;
    bottom: 0;
    transition: transform 0.2s;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.page.show {
    display: block;
}

.page h1 {
    text-align: center;
}

.company_info {
    width: 100vw;
    height: 150px;
}

.banner {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #252525;
    pointer-events: none;
}

.horizontal {
    width: 100%;
    height: calc(100% - 72px);
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.overview {
    height: 100%;
    width: 50%;
}

.most_active {
    height: 100%;
    width: 50%;
}

canvas {
    aspect-ratio: 1000/350;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
}

* {
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 767px) {
    nav.sidebar {
        width: 100%;
        height: calc(100dvh - 55px);
        top: 55px;
        position: fixed;
        transform: translateX(-100%);
    }

    nav.sidebar.show {
        transform: unset;
    }

    .content {
        width: 100vw;
        height: calc(100dvh - 55px);
        position: fixed;
        top: 55px;
    }

    .content.hide {
        transform: translate(100%);
    }

    .overview {
        width: 100%;
    }

    .most_active {
        width: 100%;
    }
}